image:
  repository: brinesh/complete-devops-project   
  tag: 4e827b9
  pullPolicy: IfNotPresent

service:
  type: ClusterIP                               
  port: 8080

ingress:
  enabled: false                                 
                     

serviceAccount:
  enabled: false                               

autoscaling:
  enabled: false                                

httpRoute:
  enabled: false 
